h1,input,label,button{
    color: black;
}
body{
    color: black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tbody:nth-child(even) {
    background-color: #dddddd;
}
main{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
}
#formulario{
    margin: 0 auto;
    padding: 10px;
    width: 40%;
}
table th {
    background-color: black;
    color: white;
}
.findCliente{
    background-color: aqua;
    border: none;
    color: white;
    padding: 2px 25px;
    text-decoration: none;
    margin: 1px 1px;
    cursor: pointer;
    font-size: 20px;
    width: 50%;
}

.navbar,.footer.text-center.text-white.fixed-bottom{
    background-color: rgba(0, 0, 0, 0.75);
    /*background-color: rgba(195, 193, 193, 0.712);*/
}

button {
    height: 100%;
    padding: 0 15px;
    border: none;
    background: transparent;
    outline: none;
}

button:hover {
    background: rgba(221, 221, 221, 0.2);
}

#close:hover {
    background: rgb(255, 0, 0);
}

button i {
    color: white;
}

/*table tr:nth-child(2){
    width: 11%;
}
table tr:nth-child(3){
    width: 11%;
}
table tr:nth-child(4){
    width: 13%;
}
table tr:nth-child(5){
    width: 13%;
}
table tr:nth-child(6){
    width: 10%;
}*/