@charset "utf-8";
h1,input,label,button{
    color: black;
}
body{
    color: black;
}
.d-flex{
    margin-top: 10vh;
}
main{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
}
#formulario{
    margin: 0 auto;
    padding: 10px;
    width: 40%;
}
.findCliente{
    background-color: rgb(29, 27, 27);
    border: none;
    color: white;
    padding: 2px 25px;
    text-decoration: none;
    margin: 1px 1px;
    cursor: pointer;
    font-size: 20px;
    width: 50%;
}
.navbar,.footer.text-center.text-white.fixed-bottom{
    background-color: rgba(0, 0, 0, 0.75);
}
button {
    height: 100%;
    padding: 0 15px;
    border: none;
    background: transparent;
    outline: none;
}
#menu button:hover {
    background: rgba(221, 221, 221, 0.2);
}
#menu #close:hover {
    background: rgb(255, 0, 0);
}
button i {
    color: white;
}
