.d-flex{
    padding-top: 15vh;
    border: none;
    animation-name: example;
    animation-duration: 4s;
}

.navbar,.footer.text-center.text-white.fixed-bottom{
    background-color: rgba(0, 0, 0, 0.75);
    /*background-color: rgba(195, 193, 193, 0.712);*/
}

.card.form{
    width: 500px;
    height: 400px;
    float: none; /* Added */
    margin-bottom: 10px;/* Added */
    border: none;
    padding-top: 90px;
}

.card-body.form{
    padding-left: 100px;
    padding-top: 20px;
}

.card.align-items-center.justify-content-center.apresentacao{
    border: none;
    border-radius: 0%;
}

.form-control{
    width: 60px;
}

#voltarLogin{
    margin-left: 10px
}
button {
    height: 100%;
    padding: 0 15px;
    border: none;
    background: transparent;
    outline: none;
}

button:hover {
    background: rgba(221, 221, 221, 0.2);
}

#close:hover {
    background: rgb(255, 0, 0);
}

button i {
    color: white;
}

@keyframes example {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}