
.navbar,.footer.text-center.text-white.fixed-bottom{
    background-color: rgba(0, 0, 0, 0.75);
}

button {
    height: 100%;
    padding: 0 15px;
    border: none;
    background: transparent;
    outline: none;
}

button:hover {
    background: rgba(221, 221, 221, 0.2);
}

#close:hover {
    background: rgb(255, 0, 0);
}

button i {
    color: white;
}

.selected{
    fill-opacity: 0.4;
}
path{
    stroke: #ff8080;
    fill: #ff0000;
    stroke-opacity: 1;
    fill-opacity: 0;
}
path:hover {
    fill: "red";
    fill-opacity: 0.4;
}

.body-back.hidden,.body-frontal.hidden{
    display: none;
}

.container{
    margin: none;
}
i{
    color: #ff0000;
}